<!DOCTYPE html>
<html>
  <head>
    <title>Bibliotheque</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Bibliotheque</h1>
    <table>
      <tr>
         <th>Auteur</th>
         <th>Titre</th>
         <th>Catégorie</th>
      </tr>
      <tr>
         <td>Guillaume Debré</td>
         <td>L'affaire Lafayette</td>
         <td>roman historique</td>
      </tr>
      <tr>
         <td>Gérald Messadié</td>
         <td>La conspiration Jeanne d'Arc</td>
         <td>roman historique</td>
      </tr>
      <tr>
        <td>J.R.R. Tolkien</td>
        <td>Le Seigneur des anneaux</td>
        <td>fantasy</td>
     </tr>
     <tr>
      <td>Michael Ende</td>
      <td>L'Histoire sans fin</td>
      <td>fantasy</td>
   </tr>
   <tr>
    <td>Andrzej Sapkowski</td>
    <td>Le Sorceleur</td>
    <td>fantasy</td>
 </tr>
 <tr>
  <td>George R. R. Martin</td>
  <td>Le Trône de fer</td>
  <td>fantasy</td>
</tr>
<tr>
  <td>Hervé Bazin</td>
  <td>Vipère au poing </td>
  <td>autobiographie</td>
</tr>
<tr>
  <td>Marie Cardinal</td>
  <td>Les mots pour le dire </td>
  <td>autobiographie</td>
</tr>
<tr>
  <td>Giacomo Casanova</td>
  <td>Histoire  de ma vie </td>
  <td>autobiographie</td>
</tr>
   </table>


  </body>
</html>
